.page{
	background-color: #fff;
	display: flex;
	flex-direction: column;
	padding-block: 20rpx;
}
.page-top{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10rpx 5rpx;
	
}
.top-ico{
	font-size: 40rpx;
	font-weight: bold;
	margin-left: 10rpx;
}
.head-img{
	margin-left: 50rpx;
	margin-bottom: 20rpx;
	margin-top: 10rpx;
}
.username{
	margin-left: 30rpx;
	font-weight: 700;
}
.attentionBtn{
	border: solid 1rpx rgba(128,128,128,0.5);
	border-radius: 30rpx;
	padding: 5rpx 10rpx;
	color: rgb(159,161,197);
	margin-left: 160rpx;
}
.share-ico{
	color: rgb(159,161,197);
	font-size: large;
	margin-left: 20rpx;
}
.swiper-box{
	height: 550rpx;
	width: 100%;
}
.middle{
	
	padding: 15rpx;
}

.product_ico{
	font-size: 25rpx;
	font-weight: 700;
	border:solid 1rpx rgb(128,128,128,0.4);
	width: 40%;
	height: auto;
	margin-left: 5rpx;
}
.cart-style{
	color: rgb(159,161,197);
	font-size: 25rpx;
	margin-left: 20rpx;
}
.text_desc{
	display: flex;
	flex-direction: column;
	padding: 20rpx 40rpx;
}
.text-box{
	margin-top: 20rpx;
	font-weight: 500;
	
}
.bottom_btn{
	margin-right: 30rpx ;
	width: 50%;
	border-radius: 100rpx;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 100rpx;
	align-items: center;
	border:solid 1rpx rgb(128,128,128,0.4);
}
.favor-ico{
	font-weight: 700;
}
.like-ico{
	font-weight: 700;
}
.bottom-view{
	height: 100rpx;
}

