/* 整个页面样式	*/
	.page{
		width: 100%;
		height: 100%;
		background-color: #ffffff;
		position: absolute;
	}
	/* 轮播图样式	*/
	.carousel{
		width: 100%;
		height: 400upx;
	}
	/* 笑脸样式	*/
	.simleface{
		margin-top: -35upx;
	}
	.smile_img{
		width: 150upx;
		height: 150upx;
	}
	/* 按钮样式	*/
	.btn_view{
		display: flex;
		flex-direction: row;
		margin-top: -200upx;
	}
	.btn1{
		background-color:rgb(164,152,202) ;
		color: #FFFFFF;
		text-decoration: underline;
		margin-right: 30upx;
		height: 50upx;
		font-size: 30upx;
		text-align: center;
		
	}
	.btn2{
		background-color:rgb(164,152,202) ;
		color: #FFFFFF;
		text-decoration: underline;
		margin-left: 30upx;
		height: 50upx;
		font-size: 30upx;
		text-align: center;
	}
	/* 原型图主颜色	*/
	.bg-mycolor{
		background-color:rgb(164,152,202) ;
	}
	/*推荐关注按钮 */
	
	.mybtn1{
		/* margin-left: 160upx; */
		font-size: medium;
		background-color: #fff;
	}
	.mybtn2{
	/* 	margin-right: 200upx; */
		font-size: medium;
		background-color: #fff;
	}
	.unclickmybtn{
		color: #808080;
	}
	.clickmybtn{
	
		color: rgb(223,209,103);
		text-decoration-style: solid;
		font-weight: bolder;
		
	}
	/*瀑布流样式*/
	.itemlist{  
	      background-color: #fff;  
	      margin: 1%;   
	      margin-bottom: 20rpx;  
	      display: inline-block;  
		  
	
	}
	.card-img{
		width: 300upx;
		border-radius:10px ;
	}
	.index{
		background-color:#BFB6D8 ;
		
	}
	.btn-index{
		background-color:#BFB6D8 ;
		display: flex;
		justify-content: center;
		justify-items: center;
	}
	.waterfallIndex{
		margin-bottom:100upx ;
		display: flex;
		flex-direction: row;
		justify-content: center;
		justify-items: center;
	}
	.txt_describtion{
		font-size: 10px;
		font-weight: bold;
		margin:15upx 15upx;
	}
	.ico-positon{
		margin-left: 10upx;
		margin-top: 9upx;
		
		display: flex;
		flex-direction: row;
		
	}
	.user_style{
		font-size: 8px;
	}
	.left{
	  display: inline-block;  
	  vertical-align: top;  
	  width: 40%;  
	  background-color: #fff;
	  padding: 10upx;
	
	border-radius: 10px;
	
		
	}  
	.right{
	  display: inline-block;  
	  vertical-align: top;  
	  width: 40%;  
	  background-color: #fff;
	  margin-left: 20upx;
	  padding: 10upx;
	  border-radius: 10px;
	}
	
