.page{
	height: calc(185vh - var(--window-top));
	display: flex;
	flex-direction: column;
}
.bg-white{
	background-color: #FFFFFF;
}
/* 标题栏 */
.title{
	display: flex;
	flex-direction: row;
	background-color: #A497C9;
	align-items: center;
	padding: 10rpx;
	height: 120rpx;
}
.title-img{
	height: 104rpx;
	width: 132rpx;
	margin-left: 20rpx;
}
.title-text{
	color: #ffffff;
	font-size: medium;
	margin-left: 20rpx;
}
.shopping-box{
	display: flex;
	flex-direction: column;
	
	margin-bottom: 150rpx;
}
.shopping-box-title{
	margin-left: 40rpx;
	font-size: medium;
	font-weight: 700;
}
.title{
	font-size: medium;
	font-weight: 600;
}
.wrap{
	display: flex;
	flex-direction: row;
	align-self: center;
	justify-content: space-between;
	border-bottom: 1rpx solid rgba(128,128,128,0.5);
	width: 95%;
	padding: 10rpx;
}
.content{
	display: flex;
	margin: 20rpx 0;	
}
.content .checkbox-item{
	align-self: center;
}
.content .image{
	width: 200rpx;
	height: 150rpx;
	margin: 0 20rpx;
	}
.wrap-bottom{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20rpx;
		
}
.wrap-bottom text{
	font-weight: 700;
	font-size: 30rpx;
	}
.input_number{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 80rpx;
}	
.product_number{
	background-color: rgb(248,248,248);
	color: #000000;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
/* 推荐栏 */
.recommend{
	display: flex;
	flex-direction: column;
	background-color: rgb(164,151,201);
}
.recommend_top{
	display: flex;
	flex-direction: row;
	height: 80rpx;
	justify-content: center;
	align-items: center;
}
.top-img{
	width: 90rpx;
	height: 70rpx;
}
.top-text{
	color: #fff;
}


.recommend-card{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	
}
.card{
	background-color: #fff;
	margin: 20rpx 5rpx 20rpx 5rpx;
	border-radius: 20rpx;
	width: 48%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 30rpx;
	padding-top: 30rpx;
}
.card-img{
	
	width: 300upx;
	margin-bottom: 10rpx;
}
.index{
	background-color:#BFB6D8 ;
		
}
.btn-index{
	background-color:#BFB6D8 ;
	display: flex;
	justify-content: center;
	justify-items: center;
}
	
.txt_describtion{
	font-size: 10px;
	font-weight: bold;
	
}
.ico-positon{		
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
}
.user_style{
	font-size: 8px;
}




.buttom{
		position: fixed;
		left: 0;
		bottom: 0px;
		width: 100%;
		display: flex;
		flex-direction: row;
		background-color: #A497C9;
		align-items: center;
		justify-content: space-between;
		padding: 0 20rpx;
		height: 120rpx;
	}
	.select-all{
		display: flex;
		align-items: center;
		margin-left: 25rpx;
		margin-top: 25rpx;
		
	}
	.select-all text{
		margin-left: 20rpx;
	}
	.desc{
		margin-left: 10rpx;
		font-size: 20px;
	}
	.desc text:first-child{
		color: #ffffff;
		
	}
	.buttom .desc text:nth-child(2){
		font-weight: 500;
		font-size: 20px;
		padding: 0 10rpx;
		color:#FFFFFF;
	}
	.buttom .desc text:nth-child(3){
		color: rgb(254,215,26);
		font-weight: 600;
	}
	.buttom .btn1{
		height: 80rpx;
		background-color: rgb(244,165,14);
		width: 200rpx;
		border-radius: 50rpx;
		text-align: center;
		line-height: 85rpx;
		font-size: 35rpx;
		color: #FFFFFF;
		font-weight: 500;
	}
	.buttom .btn2{
		height: 80rpx;
		background-color: rgb(254,215,26);
		width: 180rpx;
		border-radius: 50rpx;
		text-align: center;
		line-height: 85rpx;
		font-size: 35rpx;
		color: #FFFFFF;
		font-weight: 500;
	}
	.select-product{
		background-color: rgb(249,249,249);
		color: rgb(217,211,217);
		display: flex;
		flex-direction: row;
		width: 220rpx;
		font-size: 14px;
		padding: 8rpx;
		text-overflow: ellipsis;
		margin-top: 10rpx;
	}
	.btn-list{
		display: flex;
		flex-direction: row;
		
	}
	.popup-box{
		display: flex;
		flex-direction: column;
		
	}
	.popup-box .top{
		height: 200rpx;
		display: flex;
		flex-direction: row;
		align-items: center;
		
	}
	.popup-box .top .top-img{
		height: 180rpx;
		width: 180rpx;
		margin-top: 100rpx;
		margin-left: 80rpx;
	}
	.popup-box .top .top-text .price{
		color: #A497C9;
		font-weight: 700;
		font-size: larger;
		margin-left: 50rpx;
		padding-top: 150rpx;
	}
	.popup-box .top .top-text{
		display: flex;
		flex-direction: column;
	}
	.popup-box .top .top-text .text-desc{
		color: rgb(128,128,128,0.5);
		font-size: smaller;
		margin-left: 20rpx;
		display: flex;
		flex-direction: row;
		
	}
	.popup-box .top .top-text .text-desc .weight{
		margin-right: 20rpx;
	}
	.popup-box .meddium{
		height: 400rpx;
		padding: 20rpx;
		margin-top: 50rpx;
		
	}
	.popup-box .meddium .med-title{
		font-weight: 700;
		font-size: medium;
		
	}
	.btn_size{
		width: 30%;
		height: 70rpx;
		font-size: 12px;
	}
	
	.btn_position{
		margin-top: 20rpx;
		margin-left: 30rpx;
	}
	.search_btn{
		display: flex;
		flex-direction: row;
	}
	.round2{
		border-radius: 999rpx ;
	}
	.btn_size2{
		height: 110rpx;
		width: 110rpx;
	}
	.select-item{
		
		border: 1rpx solid #A497C9;
		color: #A497C9;
		background-color: #FFFFFF;
	}
	.confirm-btn{
		width: 90%;
		color: #fff;
		background-color: #A497C9;
		border-radius: 200rpx;
		margin-top: 240rpx;
		
	}