.page-box{
	background-color: #FFFFFF;
	height: calc(100vh - var(--window-top));
}
.bg-mycolor{
	background-color: rgb(164,152,202);
}
.cu-btn{
	padding: 0 10rpx;
}
.btn_txt{
	font-size: medium;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.recent{
	display: flex;
	flex-direction: column;
	background-color: #FFFFFF;
	padding: 20rpx;
	flex-wrap: nowrap;
}
.rencent_title{
	font-size: medium;
	font-weight: bold;
}
.delete-position{
	margin-left: 500rpx;
	
}
.btn_size{
	width: 160rpx;
	height: 50rpx;
}
.btn_position{
	margin-top: 20rpx;
	margin-left: 30rpx;
}
.search_btn{
	display: flex;
	flex-direction: row;
}
.round2{
	border-radius: 999rpx ;
}
.btn_size2{
	height: 110rpx;
	width: 110rpx;
}