.page{
	height: calc(110vh - var(--window-top));
}
.bg-white{
	background-color: #fff;
}
.carousel{
	width: 100%;
	height: 800rpx;
}
.screen-swiper{
	
}
.swiper-img{
	
	
}
.swiper-box{
	height: calc(40vh - var(--window-top));
}
.imglist{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.product_img{
	margin: 10rpx 0 0 10rpx;
	
	height: 150rpx;
	width: 150rpx;
	border-radius: 100rpx;
}
.img-item{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}